.container {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 500px;
  background-color: #f2f2f262; /* Optional background color */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/Refurbishment-second-pic.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(1px); /* Adjust the blur value as needed */
  opacity: 0.6; /* You can tweak the opacity as well */
  z-index: -1;
}

.container * {
  position: relative;
  z-index: 1;
}

.container p{
  z-index: 1;
  width: 80%;
  font-size: 20px;
  padding-bottom: 50px;
}
.container h2{
  color: black;
  font-size: 40px;
  
  padding-top: 10%;
}

.contactInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 130px;
}

.contactItem span {
  margin: 5px 0;
}


@media (max-width: 680px){
  .container{
    margin-top: 80px;
  }
  .contactInfo{
    flex-direction: column;
    margin-right: 25%;
    font-size: 15px;
  }
  .container p{
    font-size: 15px;
    margin-bottom: 0px;
    width: 90%;
    padding-bottom: 0;
  }
  
  

}

@media (max-width: 480px){
  .container p{
    font-size: 14px;
    width: 95%;
    padding-bottom: 1px;
    font-weight: bolder;
  }

  .contactInfo{
    font-size: 14px;
    margin-right: 28%;
  }

  
}