* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(../assets/descriptionBG.jpg);
  background-size: cover;
  background-position: 28.999999999999996% 69%;
  background-attachment: scroll;
  background-repeat: no-repeat;



}

.content {
  background-color: rgba(255, 255, 255, 0.705);
  /* Adds a slight white overlay on text */

  padding-top: 160px;
  padding-left: 160px;
  height: 40vw;


  text-align: left;
  /* width: 100%; */

}

.content h2 {
  color: rgba(0, 0, 0, 0.692);
}

/* Adjust font sizes for smaller screens */
.content h1 {
  font-size: clamp(2.5rem, 1.456rem + 3.26vw, 4rem);
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 5px 0;
  color: grey;
}

p {
  font-size: 4em;
  color: rgba(0, 0, 0, 0.792);
  margin-bottom: 20px;
}

.contactButton {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #2596be;
  color: white;
  margin-top: 50px;
  padding: 20px 30px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 1.5em;

}

.contactButton:hover {
  background-color: rgb(246, 75, 75);
}

@media (max-width: 480px) {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

  }

  .content {
    font-size: 10px;
    width: 90%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);

  }

  /* h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;
  } */
   h1,h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    color: red;
   }
   p{
    margin-left: 20%;
    padding-bottom: 5px;
    margin-bottom: 5px;
   }

  .contactButton {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
  }
}
@media (max-width: 780px){
  h1,h2,p{
    font-size: 10px;
  }
  .content h1{
    font-size: 20px;
  }
  .content h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 15px;

  }
  .content p{
    font-size: 10px;
    margin-right: 10%;
    padding-right: 20%;
  }
  .contactButton {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
  }

}