

.main{
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: center;
  height: 30%;
  background-color: #ffff;
   
}
.main img1{
  border-radius: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 550px;
  width:400px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
  font-family:Inter, sans-serif;
}
.container h2{
  color: black;
}
.container p{
  padding-left: 10px;
}
.img1{
  height: 342px;
  width: 515px;
  border-radius: 10px;
 
  overflow: hidden;
  margin-right: 36px;
  margin-left: 36px;
 
  
}
.img2{
  height: 340px;
  width: 227px;

  overflow: hidden;
  border-radius: 10px;
  margin-right: 76px;
  
} 
.img2 img{
 height: 100%;
 width: 100%;
}
.img1 img{
  height: 100%;
  width: 100%;
}


