.Container {
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-top: 30px;
  margin-bottom: 25px;
}

.emptyWishlistMessage {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  padding: 50px 20px;
}

.wishlistItems {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.wishlistItem {
  width: 100%;
  max-width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.productDetails {
  margin-top: 10px;
}

.productDetails h3 {
  font-size: 1rem;
  color: black;
  margin-bottom: 5px;
}

.productDetails p {
  font-size: 0.9rem;
  color: black;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  width: 100%;
}

.removeButton:hover {
  background-color: #e60000;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
  .Container {
    padding: 5px;
  }

  h1 {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .wishlistItems {
    gap: 10px;
  }

  .wishlistItem {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .productImage {
    height: 200px;
  }

  .productDetails h3 {
    font-size: 0.9rem;
  }

  .productDetails p {
    font-size: 0.8rem;
  }
}